.header {
  background-color: $color-cyan-light;
  padding: 3rem 5rem;

  &__intro {
    padding: 4rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__hero-text-container {
    flex-basis: 43%;
    & > *:not(:last-child) {
      margin-bottom: 4rem;
    }
  }
  &__hero-img-container {
    flex-basis: 54%;
  }
}

.main {
  padding: 10rem 5rem;

  &__info-boxes {
    & > *:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  &__info-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 4rem 4rem 10rem;
    box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
  }
  &__text-container {
    flex-basis: 49%;
    & > *:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  &__img-container {
    flex-basis: 40%;
  }
}

.footer {
  & a,
  & svg,
  & p {
    opacity: 0.96;
  }
  &__cta {
    background-image: linear-gradient(180deg, #fff 70%, $color-cyan-dark 0);
  }

  &__box {
    width: 50%;
    padding: 3rem 5rem 5rem 5rem;
    box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    text-align: center;
    position: relative;
    background-color: #fff;
    border-radius: 1.5rem;

    & > * {
      margin-bottom: 4rem;
    }
  }
  &__logo-container {
    margin-bottom: 3rem;
  }

  &__contacts {
    background-color: $color-cyan-dark;
    padding: 6rem 5rem;
    color: $color-cyan-light;
  }
  &__info {
    display: flex;
    justify-content: space-between;
  }
  &__contact {
    flex-basis: 35%;
  }
  &__nav {
    flex-basis: 32%;
  }

  &__contact {
    margin-right: auto;
    & > *:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 2rem;
  }
  &__list-item {
    & > a {
      transition: all 0.2s;
    }
    &:hover > a {
      text-decoration: underline;
    }
  }
  &__social {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
  }

  &__social-icons-container {
    text-align: center;
    display: flex;
    align-self: flex-start;
    margin-bottom: auto;
    & > .svg-container {
      border-radius: 50%;
      border: 1px solid $color-cyan-light;
      position: relative;
      width: 3rem;
      height: 3rem;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        border-color: $color-pink;
        & > a svg {
          fill: $color-pink;
        }
      }
      & > a svg {
        fill: $color-cyan-light;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1.5rem;
        height: 1.5rem;
        transition: all 0.2s;
      }
    }
  }

  &__copyright {
    font-size: 1.4rem;
  }
}
