.header {
    background-color: $color-cyan-light;

    &__intro {
        padding: 2rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__hero {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__hero-text-container {
        flex-basis: 43%;
        & > *:not(:last-child) {
            margin-bottom: 4rem;
        }
    }
    &__hero-img-container {
        flex-basis: 54%;
    }
    
}

.main {
    padding: 10rem 0;

    &__info-boxes {
        padding: 0 4rem;
    }

    &__info-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 10rem;
        padding-right: 2rem;
        box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .2);
    }
    &__text-container {
        flex-basis: 50%;
    }
    &__img-container {
        flex-basis: 40%;
    }
}